package rqcode.stigs.win10_v3.UserRights;

import java.util.Map;

import rqcode.stigs.win10_v3.WinScriptHelper;

import rqcode.stigs.STIG;

/**
 * $id: $title. 
 */
public class $id extends $stigtype {

    /**
     * Initiating parameters for the check script
     */
    private final static Map<String, String> CHECK_VALUES = Map.of(
            "constantName", "$constantName"
            );
    /**
     * Initiating parameters for the enforce script
     */
    private final static Map<String, String> ENFORCE_VALUES = Map.of(
            "constantName", "$constantName"
            );
    /**
     * Initiating information defining the security requirements from the STIG
     * database
     */
    private final static Map<String, String> INFO = Map.ofEntries(
            Map.entry("id", "$id"),
            Map.entry("title", "$title"),
            Map.entry("date", "$date"),
            Map.entry("ruleID", "$ruleID"),
            Map.entry("severity", "$severity"),
            Map.entry("checktext", "$checktext"),
            Map.entry("checkid", "$checkid"),
            Map.entry("fixtext", "$fixtext"),
            Map.entry("fixid", "$fixid"),
            Map.entry("description","$description"),
            Map.entry("iacontrols", "$iacontrols"),
            Map.entry("version", "$version")
            );

    /**
     * Setting up STIG information and initializing the windows script helper with
     * the check and enforce parameters
     */
    public $id() {
        setStigInfo(INFO);
        WinScriptHelper helper = this.getHelper();
        helper.setCheckValues(CHECK_VALUES);
        helper.setEnforceValues(ENFORCE_VALUES);
    }

    /**
     * Simple test for the STIG check
     */
    public static void main(String[] args) {
        STIG stig = new $id();

        //running command line interface for $id
        cli(stig, args);
    }

}
